.base {
  align-items: center;
  aspect-ratio: 1;
  background: var(--block-base-background-color);
  border-radius: 4px;
  color: var(--block-base-font-color);
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.in-solution-correct-spot {
  background: var(--block-in-solution-correct-spot-background-color);
  color: var(--block-in-solution-correct-spot-font-color);
}

.in-solution-wrong-spot {
  background: var(--block-in-solution-wrong-spot-background-color);
  color: var(--block-in-solution-wrong-spot-font-color);
}

.not-in-solution {
  background: var(--block-not-in-solution-background-color);
  color: var(--block-not-in-solution-font-color);
}
