.container {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 0;
  left: 20px;
  line-height: 1.5;
  margin: auto;
  max-width: 500px;
  padding: 16px;
  position: fixed;
  right: 20px;
  top: 20px;
}

.container-error {
  background: rgb(254, 205, 211);
}

.container-success {
  background: rgb(220 252 231);
}
