.outerContainer {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 480px;
}

.innerContainer h1 {
  margin-bottom: 20px;
}

.buttonsContainer {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5px;
}
