.rowContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.current,
.row {
  display: flex;
  gap: 4px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  background: rgb(152, 148, 132);
  color: white;
  font-weight: bold;
}

.block-in-solution-correct-spot {
  background: rgb(57, 136, 116);
}

.block-in-solution-wrong-spot {
  background: rgb(130, 4, 88);
}

.block-not-in-solution {
  background: rgb(22, 24, 3);
}

.messageContainer {
  position: fixed;
  top: 20px;
  left: 0;
  display: flex;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}
.messageContainer > div {
  padding: 16px;
  width: 100%;
  background: rgb(254, 205, 211);
  border-radius: 4px;
}

.messageRed {
}
.messageGreen > div {
  background: rgb(220 252 231);
}

.newGameButton {
  padding: 10px;
  background-color: rgb(79, 70, 229);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}

.inputButtonsContainer {
  margin: 10px 0;
  display: flex;
  gap: 5px;
}

.inputButton {
  background: rgb(226, 232, 240);
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
