@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: var(--body-background-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

button {
  font-size: 1rem;
}

div {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

body[data-theme="Default (light)"] {
  --body-background-color: white;
  --title-font-color: black;
  --block-base-background-color: rgb(152, 148, 132);
  --block-base-font-color: white;
  --block-in-solution-correct-spot-background-color: rgb(57, 136, 116);
  --block-in-solution-correct-spot-font-color: white;
  --block-in-solution-wrong-spot-background-color: rgb(130, 4, 88);
  --block-in-solution-wrong-spot-font-color: white;
  --block-not-in-solution-background-color: rgb(22, 24, 3);
  --block-not-in-solution-font-color: white;
}

body[data-theme="Default (dark)"] {
  --body-background-color: rgb(31, 41, 55);
  --title-font-color: rgb(215, 218, 220);
  --block-base-background-color: rgb(152, 148, 132);
  --block-base-font-color: white;
  --block-in-solution-correct-spot-background-color: rgb(57, 136, 116);
  --block-in-solution-correct-spot-font-color: white;
  --block-in-solution-wrong-spot-background-color: rgb(130, 4, 88);
  --block-in-solution-wrong-spot-font-color: white;
  --block-not-in-solution-background-color: rgb(22, 24, 3);
  --block-not-in-solution-font-color: white;
}
