@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  background: #282a36;
  padding-bottom: 40px;
}
h1,
button,
div {
  color: #f8f8f2;
}
